@import 'variables';

.addorder{
    &__table{
        background: gray;
        border: 1px solid black;
        color: wheat;

        display: flex;
        flex-direction: column;
    }
}

.addFood,
.addOrder {
    cursor: pointer;
}

.editFoodCount {
    display: inline;
}

.food-count {
    max-width: 75px;
}

.orderslist {
    color: white !important;
    h3 {
        margin-top: 25px;
    }
    p{
        margin-bottom: 0;
    }
}

.orders_list {
    &--order {
        background: gray;
        color: wheat;
    }   
}
.order-food-list{
    &:nth-of-type(even) {
        background: black !important;
    }

    &--edit {
        color: white;
    }

    &__button {
        cursor: pointer;
    }
}

.orders_list--order__buttons {
    cursor: pointer;
}

.checkout-button{
    font-weight: 700;
    color: white;
    cursor: pointer;
}